* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(135deg, #dbeafe, #e0f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #f8fbff;
    padding: 40px;
    width: 420px;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 120, 255, 0.25);
    text-align: center;
}

h1 {
    margin-bottom: 25px;
    color: #000;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    padding: 14px;
    border-radius: 12px;
    border: 1px solid #9bbcff;
    font-size: 16px;
}

button {
    padding: 14px;
    border-radius: 12px;
    border: none;
    background: linear-gradient(135deg, #1e90ff, #00bfff);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

p {
    margin-top: 20px;
}

a {
    color: #6a00ff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* TAREAS */
.tareas {
    list-style: none;
    padding: 0;
    margin-top: 25px;
}

.tareas li {
    background: white;
    padding: 12px 16px;
    margin-bottom: 10px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn {
    color: red;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

.delete-btn:hover {
    color: darkred;
}

.logout {
    display: inline-block;
    margin-top: 25px;
}

.buscador {
    margin-bottom: 15px;
}

.buscador input {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.buscador button {
    padding: 8px 12px;
    border-radius: 8px;
}
